<footer>
    <ul>
      <li><a href="#home" class="nav-links" title="Home page">Home</a></li>
      <li><a href="#whatcando" class="nav-links" title="What you can page">What You Can Do</a></li>
      <li><a href="#recycling" class="nav-links" title="Recycling page">Recycling</a></li>
      <li><a href="#collections" class="nav-links" title="Recycling collection page">Collections</a></li>
      <li><a href="#ten-ways" class="nav-links" title="Ten ways to recycle page">10 Ways</a></li>
      <li><a href="#recycling-facts" class="nav-links" title="Recycling facts page">Facts</a></li>
      <li><a href="#contact" class="nav-links" title="Contact page">Contact</a></li>
    </ul>
  </footer>

  <p class="copyr"> &copy; 2015 - www.raythompwebdesign.com <br /></p>

  <!--scroll to top button-->
  <button id="myBtn" title="Go to top">Top</button>
