<!-- Header -->
    <header role="banner">

      <!-- Logo -->
      <figure id="logo">

        <img id="homeImage" alt="home page image" />

      </figure>

      <!-- Title -->
      <hgroup>
        <h1>GreenFootPrints</h1>
        <h2>UK's Leading Recycling Website</h2>
      </hgroup>

      <!-- Social Icons -->
      <aside class="socials">

        <ul>
          <li><a href="https://www.twitter.com" title="Follow us on Twitter" target="blank"><i class="fa fa-twitter"> </i></a></li>
          <li><a href="https://www.facebook.com" title="Follow us on Facebook" target="blank"><i class="fa fa-facebook"> </i></a></li>
          <li><a href="https://www.google.com" title="Follow us on Google+" target="blank"><i class="fa fa-google" > </i></a></li>
          <li><a href="https://www.instagram.com" title="Follow us on Instagram" target="blank"><i class="fa fa-instagram"> </i></a></li>
        </ul>

      </aside>

    </header>
