# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

dist/

Files/
npm-debug.log
node_modules/
bower_components/
_assets/household-recycling-guide.gif
_assets/household-recycling-guide.pdf
_assets/household-recycling-flowchart-poster.gif
_assets/household-recycling-flowchart-poster.pdf
_assets/reduce-reuse-recycle-poster.gif
_assets/reduce-reuse-recycle-poster.pdf
_assets/wordsearch.gif
_assets/wordsearch.pdf
.git/
Files/
test/
.sass-cache/
.settings/

.vscode/
routes/
.htaccess
api/

src/images/
src/static/fonts/
src/static/js/slide-functions/
src/static/favicons/
src/static/images/three-rs.xcf
src/static//css/sass/normalize.css.map
src/static//css/sass/style.css.map
src/static//css/sass/ie.css.map
src/static//css/sass/ie.min-css.map
src/static//css/sass/ie.css.map
src/static//css/sass/style.css
src/static//css/sass/style-min.css.map
src/static//css/sass/style.css.map

src/css/sass/partials/_base.css
src/css/sass/partials/_base.css.map
src/css/sass/partials/_base.min.css
src/css/sass/partials/_fonts.css
src/css/sass/partials/_fonts.css.map
src/css/sass/partials/_fonts.min.css
src/css/sass/partials/_mixins.css
src/css/sass/partials/_mixins.css.map
src/css/sass/partials/_mixins.min.css
src/css/sass/partials/_variables.css
src/css/sass/partials/_variables.css.map
src/css/sass/partials/_variables.min.css

nbproject/private/
src/nbproject/private/
nbproject/
src/static/images/Large/
src/static/images/slider/patricia-valerio-eV2x6CmfIns-unsplash-copy.jpg
src/static/images/slider/patricia-valerio-eV2x6CmfIns-unsplash.jpg
src/static/images/slider/pawel-czerwinski-RkIsyD_AVvc-unsplash-copy.jpg
src/static/images/slider/pawel-czerwinski-RkIsyD_AVvc-unsplash.jpg
src/static/images/slider/roberto-sorin-ZZ3qxWFZNRg-unsplash-copy.jpg
src/static/images/slider/roberto-sorin-ZZ3qxWFZNRg-unsplash.jpg
public/static/*
buildScripts/generateMockData.js
buildScripts/mockDataSchema.js
buildScripts/testSetup.js
