# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

dist/

npm-debug.log
node_modules/
_assets/
.git/
test/
.sass-cache/
.settings/
.vscode/

src/static/images/
src/static/images/slider/
src/static/fonts/
src/static/js/slide-functions/
src/static/favicons/
src/static/images/three-rs.xcf

src/css/sass/partials/_base.css
src/css/sass/partials/_fonts.css
src/css/sass/partials/_mixins.css
src/css/sass/partials/_variables.css

public/static/
buildScripts/generateMockData.js
buildScripts/mockDataSchema.js
buildScripts/testSetup.js
