<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content=" Recycling website GreenFootprints Home page. Website built by raythompwebdesign.com" />
  <meta name="keywords" content="Recyling, rubbish bin, home recyling bank , recyling banks, Re-use, reduce," />
  <meta name="author" content="RayThompWeb" />
  <meta name="copyright" content="&copy;raymondthompson" />
  <title>{{title}}</title>
  <script src="https://use.fontawesome.com/e987635b7e.js" defer></script>

  {{!--
  <link rel="stylesheet" href="/sass/style.css"> --}}

</head>

<body>

  <header role="banner">

    <!-- Logo -->
    <figure id="logo">

      <img id="homeImage" alt="home page image" src="./images/Large/gif-images/logo-greenfootprints-com.gif" />

    </figure>

    <!-- Title -->
    <hgroup>
      <h1>GreenFootPrints</h1>
      <h2>UK&apos;s Leading Recycling Website</h2>
    </hgroup>

    <!-- Social Icons -->
    <aside class="socials">

      <ul>
        <li><a href="https://www.twitter.com" title="Follow us on Twitter" target="blank"><i class="fa fa-twitter">
            </i></a></li>
        <li><a href="https://www.facebook.com" title="Follow us on Facebook" target="blank"><i class="fa fa-facebook">
            </i></a></li>
        <li><a href="https://www.google.com" title="Follow us on Google+" target="blank"><i class="fa fa-google">
            </i></a></li>
        <li><a href="https://www.instagram.com" title="Follow us on Instagram" target="blank"><i
              class="fa fa-instagram"> </i></a></li>
      </ul>

    </aside>

  </header>

  <nav role="navigation">
    <div></div>
    <ul>
      <li><a href="/" class="nav-links" title="Home page">Home</a></li>
      <li><a href="/whatcando" class="nav-links" title="What you can page">What You Can Do</a></li>
      <li><a href="/recycling" class="nav-links" title="Recycling page">Recycling</a></li>
      <li><a href="/collections" class="nav-links" title="Recycling collection page">Collections</a></li>
      <li><a href="/tenways" class="nav-links" title="Ten ways to recycle page">10 Ways</a></li>
      <li><a href="/recyclingfacts" class="nav-links" title="Recycling facts page">Facts</a></li>
      <li><a href="/contact" class="nav-links" title="Contact page">Contact</a></li>
    </ul>

  </nav>

  <nav id="mobile-nav">
    <ul>
      <li><a href="/home" class="nav-links" title="Home page">Home</a></li>
      <li><a href="/whatcando" class="nav-links" title="What you can page">What You Can Do</a></li>
      <li><a href="/recycling" class="nav-links" title="Recycling page">Recycling</a></li>
      <li><a href="/collections" class="nav-links" title="Recycling collection page">Collections</a></li>
      <li><a href="/ten-ways" class="nav-links" title="Ten ways to recycle page">10 Ways</a></li>
      <li><a href="/recyclingfacts" class="nav-links" title="Recycling facts page">Facts</a></li>
      <li><a href="/contact" class="nav-links" title="Contact page">Contact</a></li>
    </ul>
  </nav>

  <button id="mobile-toggle" title="menu">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="container_24">

    {{{body}}}

  </div>


  <footer>
    <ul>
      <li><a href="/" class="nav-links" title="Home page">Home</a></li>
      <li><a href="/whatcando" class="nav-links" title="What you can page">What You Can Do</a></li>
      <li><a href="/recycling" class="nav-links" title="Recycling page">Recycling</a></li>
      <li><a href="/collections" class="nav-links" title="Recycling collection page">Collections</a></li>
      <li><a href="/tenways" class="nav-links" title="Ten ways to recycle page">10 Ways</a></li>
      <li><a href="/recyclingfacts" class="nav-links" title="Recycling facts page">Facts</a></li>
      <li><a href="/contact" class="nav-links" title="Contact page">Contact</a></li>
    </ul>
  </footer>

  <p class="copyr"> &copy; 2015 - www.raythompwebdesign.com <br /></p>


  <button id="myBtn" title="Go to top">Top</button>


</body>
<script src="/bundle.js"></script>


</html>
