<section class="content">

  <h1>Collections &amp; Sorting</h1>

  <section id="collection-boxes">

    <article id="mask3">

      {{#each collections}}
      <article class="collection-box fade">
        <h1 class="collections_title">{{this.title}}</h1>
        <p class="collection-text">{{this.text}}</p>
        <img id="tenImageTwo" src="{{this.image}}" alt="{{this.alt}}" />
      </article>
      {{/each}}

      <a class="prev" onclick="plusSlidesOne(-1)">&#10094;</a>
      <a class="next" onclick="plusSlidesOne(1)">&#10095;</a>

  </section>

</section>
