<!-- Home Page Slider -->
<section id="slider">

  <div class="main-slider">
    <div class="flexslider">
      <ul class="slides">

        <li class="sliders">
          <img id="sliderOneImg" alt="recycling-advice-green-foot-prints-com"
            src="./images/slider/slider-image2-greenfootprints-com.png" />
          <div class="slider-caption">
            <h1>Recycling</h1>
            <p>Award winning recycling website. Voted best recyling website 2010 and 2012</p>
            <a href="#recycling" title="link to recycling" class="largeButton homeBgColor">Read More</a>
          </div>

        </li>

        <li class="sliders">
          <div class="slider-caption">
            <h1>Reduce, Reuse, Recycle</h1>
            <p>There are three key factors when thinking about how to recycle – The 3 R’s:</p>
            <a href="#recycling-facts" title="link to recycling facts" class="largeButton homeBgColor">Read
              More</a>
          </div>
          <img id="sliderTwoImg" src="./images/slider/slider-image3-greenfootprints-com.png"
            alt="recycling-advice-green-foot-prints-com" />
        </li>

        <li class="sliders">
          <div class="slider-caption">
            <h1>Recycling Different Materials</h1>
            <p>You can find out how to recycle different materials such as Glass, Batteries and
              Mobile Phones by simply using our list by clicking button below</p>
            <a href="#ten-ways" title="link to ten ways to recycling" class="largeButton homeBgColor">Read
              More</a>
          </div>
          <img id="sliderThreeImg" src="./images/slider/slider-image4-greenfootprints-com.png"
            alt="recycling-advice-green-foot-prints-com" />
        </li>

      </ul>
    </div>
  </div>

</section>

<main class="content" role="home">

  <div id="home_contentboxes">

    <article class="home_contentbox">
      <h1>Household Recycling Guide</h1>
      <figure class="contentbox_image">

        <img id="paperBottles" src="./images/Large/gif-images/recyling-guide.gif"
          alt="recycling-advice-green-foot-prints-com" />

        <figcaption>

          <p> A reminder of the three key factors when thinking about how to recycle. Just click button below to
            download the PDF and print it off.</p>
          <a class="content-button" href="_https://drive.google.com/open?id=0B8rtAcEuG9wLWlJOWFdBZjBwZ1k"
            download="household-recycling-guide.pdf" title="household-recycling-guide">Download
            PDF</a>

        </figcaption>

      </figure>

    </article>

    <article class="home_contentbox">
      <h1>Reduce, Reuse and Recycle</h1>
      <figure class="contentbox_image">
        <img id="flowChart" src="./images/Large/gif-images/recycling-flowchart.gif"
          alt="recycling-advice-green-foot-prints-com" />
        <figcaption>

          <p>Print off our posters to remind you about the 3 R’s at home, in the classroom or at
            work. Just click button below to download the PDF and print it off.</p>
          <a class="content-button" href="https://drive.google.com/open?id=0B8rtAcEuG9wLYVpLYXZEaHdWalE"
            download="reduce-reuse-recycle-poster.pdf" title="reduce-reuse-recycle-poster">Download PDF</a>
        </figcaption>
      </figure>
    </article>

    <article class="home_contentbox">
      <h1>Word Search</h1>
      <figure class="contentbox_image">
        <img id="wordSearch" src="./images/Large/gif-images/wordsearch.gif"
          alt="recycling-advice-green-foot-prints-com" />
        <figcaption>
          <p>Have a go at our Recycling Guide Word Search. Help Crush find all 20 hidden words
            relating to recycling.</p>
          <p> Just click to download the PDF and print it off on your home computer or at school.</p>
          <a class="content-button" href="https://drive.google.com/open?id=0B8rtAcEuG9wLejZCRnFsUl80d00"
            download="Summary.pdf" title="wordsearch.gif">Download PDF</a>
        </figcaption>
      </figure>

    </article>

  </div>

</main>
