<div class="grid_24" id="recycling-facts">

  <section class="content">

    <h1>Recycling facts and figures</h1>

    <div id="facts_box">
      <div id="mask_two">

          <article class="recycle-facts fade">
            <h1>Introduction</h1>
          <p>
              UK households produced 30.5 million tonnes of waste in 2003/04, of which 17% was collected or recycling (source: defra.gov.uk). This figure is still quite low compared to some of our neighbouring EU             countries, some recycling over 50% of their waste. There is still a
              great deal of waste which could be recycled that ends up in landfill sites which is harmful to the environment. Recycling is an excellent way of saving energy and conserving the
              environment.
            </p>
          </article>

        <article class="recycle-facts fade">
          <h1>Some Interesting Facts</h1>

          <p>Did you know that:</p>
          <ul>

            <li>
              1 recycled tin can would save enough energy to power a television for 3 hours.

            </li>
            <li>
              1 recycled glass bottle would save enough energy to power a computer for 25 minutes.

            </li>
            <li>
              1 recycled plastic bottle would save enough energy to power a 60-watt light bulb for
              3 hours.

            </li>
            <li>
              70% less energy is required to recycle paper compared with making it from raw
              materials.

            </li>
            <li></li>
            <br />
          </ul>
        </article>

        <article class="recycle-facts fade">
          <h1>Some Interesting Facts</h1>
          <p>Did you know that:</p>
          <ul>

            <li>
              Up to 60% of the rubbish that ends up in the dustbin could be recycled.

            </li>
            <li>

              The unreleased energy contained in the average dustbin each year could power a
              television for 5,000 hours.

            </li>
            <li>
              The largest lake in the Britain could be filled with rubbish from the UK in 8
              months.

            </li>
            <li>
              On average, 16% of the money you spend on a product pays for the packaging, which
              ultimately ends up as rubbish.

            </li>
            <li>
              As much as 50% of waste in the average dustbin could be composted.

            </li>
            <li>
              Up to 80% of a vehicle can be recycled..

            </li>
            <li>
              9 out of 10 people would recycle more if it were made easier.

            </li>
            <li></li>
          </ul>
        </article>

        <article class="recycle-facts fade">
          <h1>Aluminium</h1>
          <p>Did you know that:</p>
          <ul>

            <li>
              24 million tonnes of aluminium is produced annually, 51,000
              tonnes of which ends up as packaging in the UK.

            </li>
            <li>
              If all cans in the UK were recycled, we would need 14 million
              fewer dustbins.

            </li>
            <li>
              £36,000,000 worth of aluminium is thrown away each year.

            </li>
            <li>
              Aluminium cans can be recycled and ready to use in just 6
              weeks.

            </li>
            <li></li>
          </ul>
        </article>

        <article class="recycle-facts fade">
          <h1>Glass</h1>
          <p>Did you know that:</p>
          <ul>

            <li>
              Each UK family uses an average of 500 glass bottles and jars annually.

            </li>
            <li>
              The largest glass furnace produces over 1 million glass bottles and jars per day.

            </li>
            <li>
              Glass is 100% recyclable and can be used again and again.

            </li>
            <li>
              Glass that is thrown away and ends up in landfills will never decompose.

            </li>
            <li></li>
          </ul>
        </article>

        <article class="recycle-facts fade">
          <h1>Paper</h1>
          <p>Did you know that:</p>
          <ul>

            <li>
              Recycled paper produces 73% less air pollution than if it was
              made from raw materials.

            </li>
            <li>
              12.5 million tonnes of paper and cardboard are used annually in
              the UK.

            </li>
            <li>
              The average person in the UK gets through 38kg of newspapers per
              year.

            </li>
            <li>
              It takes 24 trees to make 1 ton of newspaper.

            </li>
            <li></li>
          </ul>
        </article>

        <article class="recycle-facts fade">
          <h1>Plastic</h1>
          <p>Did you know that:</p>
          <ul>

            <li>
              275,000 tonnes of plastic are used each year in the UK, that’s
              about 15 million bottles per day.

            </li>
            <li>
              Most families throw away about 40kg of plastic per year, which
              could otherwise be recycled.

            </li>
            <li>
              The use of plastic in Western Europe is growing about 4% each
              year.

            </li>
            <li>
              Plastic can take up to 500 years to decompose.

            </li>
            <li></li>
          </ul>
        </article>

        <a class="prev" onclick="plusSlidesOne(-1)">&#10094;</a>
        <a class="next" onclick="plusSlidesOne(1)">&#10095;</a>

      </div>

    </div>

  </section>
<script>
      var slideIndex = 1;
      showSlidesOne(slideIndex);
      /* eslint-disable no-console */
      function plusSlidesOne(n) {
        showSlidesOne(slideIndex += n);
      }
      // Slider 1
      function showSlidesOne(n) {
        var i;
        var slides = document.getElementsByClassName("recycle-facts");

        if (n > slides.length) { slideIndex = 1 }

        if (n < 1) { slideIndex = slides.length }

        for (i = 0; i < slides.length; i++) {

          slides[i].style.display = "none";

        }

        slides[slideIndex - 1].style.display = "block";

      }

    </script>
</div>
