@import 'mixins';
@import 'variables';
@import 'fonts';

html {
  @include box-sizing($type: border-box);
  scroll-behavior: smooth;
  scroll-margin-top: 115px;
}

body {
  font-family: $fontList;
  margin: 0;
  line-height: 1;
  background-color: $bgcolor;
  font-size: 1em;
  height: auto;
  padding-bottom: 20px;
}

/* remember to define focus styles! */

figure {
  margin: 0;
}

.clearfix {
  clear: both;
}

.seperator {
  height: 1px;
  display: block;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  quotes: '' '';
}

.group:before,
.group:after {
  content: '';
  display: table;
}

.group:after {
  clear: both;
}

.box-set:before,
.box-set:after {
  content: '';
  display: table;
}

.box-set:after {
  clear: both;
}

#title,
#glyphs p {
  font-family: $fontList;
}

a {
  text-decoration: none;
  &:focus {
    outline: 1px dotted $colortxt;
  }
}

h1 {
  font-weight: normal;
  width: 100%;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: normal;
  width: 100%;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: normal;
  width: 100%;
  letter-spacing: 0.1em;
}

p {
  overflow: hidden;
  font-weight: normal;
  width: 100%;
  line-height: 1.8em;
  letter-spacing: 0.02em;
}

img {
  height: auto;
  max-width: 100%;
  border: none;
  outline: none;
}

input:hover,
textarea:hover,
input:focus,
select,
textarea:focus {
  border-color: $colortxt;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  background-color: $colorsocmed;
  outline: none;
  display: block;
}

/*Container*/

*,
*:before,
*:after {
  @include box-sizing($type: inherit);
}
