
$colorblk:#000; //black
$bgcolor:#cad996; //bg
$headbg:#406136; //buttons
$colornav:#3fa63a;
$colortxtbg:#ccffbb;
$colortxt:#3a5f0b;
$colorsocmed:#ccffbb;
$colorsocmedhov:#ffffff; //header text color
$colorslidebg:#82b602;
$colorsildertxt:#e6fbb3;
$colorsildertxtbg:#2c6700;
$honecolor:#5e8b33; //content background
$contentbg:#678b3f;
$header-shadow:#165404;
$contenttxtbg:#3ea514;

$formboxbg :#136899;
