@font-face {
  font-family: 'viro-webfont';
  src: url("./src/fonts/Viro/viro-webfont.eot");
  /* IE9 Compat Modes */
  src: url("./src/fonts/Viro/viro-webfont.eot?#iefix") format("embedded-opentype"), url("./src/fonts/Viro/viro-webfont.woff") format("woff"), url("./src/fonts/Viro/viro-webfont.ttf") format("truetype"), url("./src/fonts/Viro/viro-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: normal;
}

nav div {
  position: absolute;
  top: 0;
  left: 2%;
  visibility: hidden;
}

.nav-title {
  visibility: visible;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

div.container_24 {
  width: 85%;
  height: auto;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /*header*/
  /*Navigation*/
  /*Wrapper*/
  /*Wrapper end*/
}

div.container_24 header {
  height: auto;
  background-color: #297F10;
  padding: 0.25em;
  /*social media icons*/
}

div.container_24 header hgroup {
  width: 68%;
  display: inline-block;
  float: left;
}

div.container_24 header hgroup h1 {
  color: #ccffbb;
  font-size: 2em;
  font-family: "viro-webfont", Candara, Arial, sans-serif;
  text-align: left;
  letter-spacing: 0.15em;
  line-height: 40px;
  margin: 0;
  background-color: #297F10;
  padding: 0;
  width: 100%;
  text-shadow: 1px 1px 1px #165404;
}

div.container_24 header hgroup h2 {
  display: inline-block;
  float: left;
  color: #ccffbb;
  padding: 0;
  background-color: #297F10;
  font-size: 0.85em;
  font-family: "viro-webfont", Candara, Arial, sans-serif;
  line-height: 20px;
  width: 100%;
  text-align: left;
  letter-spacing: 0.15em;
  margin: 0;
  width: 100%;
  text-shadow: 2px 1px 1px #165404;
}

div.container_24 header figure#logo {
  display: inline-block;
  margin: 0 0.5em 0 0;
  width: 10%;
  float: left;
  border: 3px solid #2c6700;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  height: 100%;
}

div.container_24 header figure#logo img {
  height: auto;
  display: block;
}

div.container_24 header .socials {
  width: 20%;
  height: auto;
  display: inline-block;
  float: right;
  margin: 0;
  background-color: #297F10;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}

div.container_24 header .socials ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

div.container_24 header .socials ul li {
  display: block;
  width: 25%;
  height: 100%;
}

div.container_24 header .socials ul li a {
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  text-shadow: 1px 2px 1px #165404;
}

div.container_24 header .socials ul li a i {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40.75px;
  font-size: 1.25em;
  color: #ccffbb;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

div.container_24 header .socials ul li a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ffffff;
  line-height: 41.75px;
  text-shadow: 0 0 0 #165404;
}

div.container_24 ul#mobile-nav {
  display: none;
}

div.container_24 nav {
  height: 50px;
  text-align: center;
  margin: 0.5em 0;
  z-index: 10;
}

div.container_24 nav div.nav-title {
  width: 19%;
  display: inline-block;
  float: left;
  position: unset;
  margin-right: 0.5em;
}

div.container_24 nav div.nav-title h1 {
  color: #ccffbb;
  text-indent: 0.5em;
  font-size: 2rem;
  font-family: "viro-webfont", Candara, Arial, sans-serif;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 50px;
  margin: 0;
  background-color: #297F10;
  padding: 0;
  width: 100%;
  text-shadow: 1px 1px 1px #165404;
}

div.container_24 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 80%;
  display: block;
}

div.container_24 nav ul li {
  float: left;
  height: 100%;
  margin-right: 0.1em;
  display: inline-block;
  width: 12%;
}

div.container_24 nav ul li a {
  color: #ccffbb;
  background-color: #297F10;
  display: block;
  line-height: 50px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  height: 100%;
  text-shadow: 1px 2px 1px #165404;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

div.container_24 nav ul li a:hover {
  font-weight: bold;
  color: #297F10;
  background-color: #ccffbb;
  text-shadow: none;
}

div.container_24 div#collections,
div.container_24 div#ettiquette {
  height: 100vh;
}

div.container_24 div.grid_24 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  float: none;
  height: auto;
  padding: 0;
  /*Slider*/
  /*Content*/
  /*Footer*/
}

div.container_24 div.grid_24 #slider {
  background-color: #3ea514;
  width: 100%;
  height: 380px;
  margin: 0.5em 0;
}

div.container_24 div.grid_24 #slider div.main-slider {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #3ea514;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "viro-webfont", Candara, Arial, sans-serif;
  background-color: #3ea514;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides {
  height: 350px;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li img {
  position: relative;
  opacity: 0.95;
  min-width: 100%;
  z-index: 2;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li div.slider-caption {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  height: auto;
  z-index: 10;
  color: white;
  top: 0;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li div.slider-caption h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ccffbb;
  text-shadow: 1px 1px 1px #165404;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li div.slider-caption p {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 50%;
  margin: 0 auto 30px auto;
  line-height: 1.8em;
  color: #ffffff;
  background-color: #2c6700;
  padding: 0.5em;
  opacity: 0.9;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li div.slider-caption a.largeButton.homeBgColor {
  display: block;
  color: #2c6700;
  width: 10%;
  margin: auto;
  padding: 1%;
  background-color: #e6fbb3;
  line-height: 34px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider ul.slides li div.slider-caption a.largeButton.homeBgColor:hover {
  color: #e6fbb3;
  background-color: #2c6700;
  cursor: pointer;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-nav,
div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-paging {
  width: 100%;
  position: relative;
  height: 35px;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-nav li,
div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-paging li {
  display: inline-block;
  height: 100%;
  width: 5%;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-nav li a,
div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-paging li a {
  border: 2px solid black;
  opacity: 0.6;
  display: block;
  margin: 11% auto;
  line-height: 35px;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-nav li a:hover,
div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-paging li a:hover {
  opacity: 1;
}

div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-nav li a.flex-active,
div.container_24 div.grid_24 #slider div.main-slider div.flexslider .flex-control-paging li a.flex-active {
  opacity: 1;
  background: #ffffff;
}

div.container_24 div.grid_24 #content {
  background-color: #3ea514;
  display: block;
  width: 98%;
  margin: 0;
  padding: 1%;
  height: auto;
  /*Content boxes*/
}

div.container_24 div.grid_24 #content:after {
  content: ".";
  color: #3ea514;
}

div.container_24 div.grid_24 #content h1 {
  color: #ffffff;
  padding: 0;
  height: 50px;
  margin: 0 0 1% 0;
  text-align: center;
  font-size: 2.5em;
  line-height: 50px;
  text-shadow: 1px 2px 1px #165404;
}

div.container_24 div.grid_24 #content #summary {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 50px;
  line-height: 1.5em;
  color: #ffffff;
}

div.container_24 div.grid_24 #content .text {
  width: 99%;
  height: auto;
  background-color: #3ea514;
  font-size: 1em;
  padding: 0.5em;
  /*Drop Cap*/
}

div.container_24 div.grid_24 #content .text h1 {
  color: #ccffbb;
  padding: 0;
  height: 50px;
  margin: 0 0 0.5% 0;
  text-align: center;
  font-size: 2em;
  line-height: 50px;
  width: 100%;
  background-color: #348C0F;
  font-weight: bold;
}

div.container_24 div.grid_24 #content .text h2 {
  color: #3a5f0b;
  background-color: #92cd00;
  padding: 0;
  height: 50px;
  margin: 0 0 0.5% 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 50px;
  display: block;
  clear: both;
  width: 100%;
  font-weight: bold;
}

div.container_24 div.grid_24 #content .text h3 {
  background-color: #3a5f0b;
  color: #ccffbb;
  padding: 0;
  height: 50px;
  margin: 0.5em auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 50px;
  width: 100%;
}

div.container_24 div.grid_24 #content .text h3:hover {
  cursor: pointer;
  color: #3a5f0b;
  background-color: #92cd00;
}

div.container_24 div.grid_24 #content .text p {
  letter-spacing: 0.1em;
  padding: 1em;
  width: 84%;
  margin-bottom: 0.5em;
  color: #000;
  background-color: #ccffbb;
  line-height: 1.8em;
  font-size: 0.95em;
  display: block;
}

div.container_24 div.grid_24 #content .text p.collection-text {
  letter-spacing: 0.1em;
  padding: 2%;
  max-width: 100%;
  width: auto;
  margin: 0 0 0.5em 0;
  color: #000;
  background-color: #ccffbb;
  line-height: 1.5em;
  font-size: 1em;
  display: none;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts {
  list-style: none;
  padding: 0.5em;
  background-color: #ccffbb;
  width: 57%;
  margin: 0.5em auto;
  clear: both;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li {
  list-style: none;
  background-color: #ccffbb;
  margin: 0.5em auto;
  line-height: 40px;
  display: block;
  width: 100%;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  height: 40px;
  clear: left;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li span {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li span::before {
  font-family: 'FontAwesome';
  content: "\f1b8";
  font-style: normal;
  padding: 1em;
  line-height: 40px;
  color: #297F10;
  display: block;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li span:last-of-type {
  width: 90%;
  height: auto;
  display: inline-block;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li span:last-of-type::before {
  display: none;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li a {
  font-size: 1em;
  width: 100%;
  text-align: center;
  color: #000;
  height: auto;
}

div.container_24 div.grid_24 #content .text ul.recycle-facts li a:hover {
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact {
  list-style: none;
  padding: 0.5em;
  background-color: #ccffbb;
  width: 55%;
  margin: 0.25em;
  clear: both;
  display: inline-block;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact::before {
  font-family: 'FontAwesome';
  content: "\f015";
  font-style: normal;
  padding: 0.2em;
  line-height: 1.5em;
  text-indent: 0;
  font-size: 1.5em;
  display: block;
  width: 100%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li {
  list-style: none;
  background-color: #ccffbb;
  margin: 1% auto;
  text-indent: 0;
  line-height: 40px;
  display: block;
  width: 96%;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 0.85em;
  height: 40px;
  clear: left;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li span {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li span::before {
  font-family: 'FontAwesome';
  content: "\f1b8";
  font-style: normal;
  padding: 1.5%;
  line-height: 40px;
  color: #297F10;
  display: block;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li span:last-of-type {
  width: 90%;
  height: auto;
  display: inline-block;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li span:last-of-type::before {
  display: none;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li a {
  font-size: 1em;
  width: 100%;
  text-align: center;
  color: #000;
  height: auto;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact li a:hover {
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(2) {
  width: 40%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(2)::before {
  font-family: 'FontAwesome';
  content: "\f098";
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(3) {
  width: 35%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(3)::before {
  font-family: 'FontAwesome';
  content: "\f0e0";
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(4) {
  width: 60%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(4)::before {
  font-family: 'FontAwesome';
  content: "\f1ad";
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(5) {
  width: 100%;
}

div.container_24 div.grid_24 #content .text ul.recycle-contact:nth-of-type(5)::before {
  font-family: 'FontAwesome';
  content: "\f0ac";
}

div.container_24 div.grid_24 #content .text .audio {
  background-color: #ffffff;
  margin: 2% auto;
  width: 20%;
}

div.container_24 div.grid_24 #content .text .recycle_img {
  margin: 0.5em;
  width: 10%;
  height: auto;
}

div.container_24 div.grid_24 #content .text form#feedback-form {
  width: 40%;
  margin: auto;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul {
  margin: 1% auto;
  background-color: #3ea514;
  padding: 0;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li {
  width: 100%;
  padding: 0;
  background-color: #3ea514;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li label {
  width: 100%;
  color: #ffffff;
  font-size: 1.2em;
  height: 30px;
  margin: 1% 0;
  display: block;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.2em;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li input[type="text"],
div.container_24 div.grid_24 #content .text form#feedback-form ul li input[type="email"] {
  border: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  display: block;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li textarea {
  width: 100%;
  border: 0;
  display: block;
  letter-spacing: 0.1em;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li input[type="submit"] {
  letter-spacing: 0.2em;
  height: 35px;
  padding: 3%;
  width: 30%;
  margin: 0;
  line-height: 0px;
  background-color: #297F10;
  border: 0;
  color: #ccffbb;
  display: block;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li input[type="submit"]:hover {
  background-color: #297F10;
  color: #ffffff;
  font-weight: bold;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li .error,
div.container_24 div.grid_24 #content .text form#feedback-form ul li .notice,
div.container_24 div.grid_24 #content .text form#feedback-form ul li .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li .error {
  background: #ffffff;
  color: #297F10;
  border-color: #297F10;
  width: 80%;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li .notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
  width: 80%;
}

div.container_24 div.grid_24 #content .text form#feedback-form ul li .success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
  width: 80%;
}

div.container_24 div.grid_24 #content #contentboxes {
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*contentbox end*/
}

div.container_24 div.grid_24 #content #contentboxes .contentbox {
  width: 23.9%;
  min-height: 225px;
  height: auto;
  background-color: #2c6700;
  float: left;
  margin: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.9em;
  font-size: 0.8em;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox h2 {
  text-indent: 0;
  height: auto;
  line-height: 20px;
  font-size: 1.2em;
  color: #3a5f0b;
  background-color: #92cd00;
  text-align: center;
  margin: 0 0 0.5em 0;
  padding: 2% 0.5%;
  font-weight: bold;
  width: 100%;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox p {
  letter-spacing: 0.05em;
  font-size: 0.95em;
  margin: 0 0 0.25em 0;
  padding: 0.5em;
  background-color: #ccffbb;
  line-height: 1.6em;
  width: auto;
  display: block;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox .contentbox_image {
  float: left;
  margin: 0 0.25em 0 0;
  width: 30%;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox .contentbox_image img {
  display: block;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox a.content-button {
  font-size: 0.95em;
  height: 35px;
  padding: 0;
  width: 50%;
  margin: 0;
  line-height: 35px;
  text-align: center;
  background-color: #297F10;
  border: 0;
  color: #ccffbb;
  display: block;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px #165404;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

div.container_24 div.grid_24 #content #contentboxes .contentbox a.content-button:hover {
  background-color: #ccffbb;
  color: #297F10;
  cursor: pointer;
  letter-spacing: 0.12em;
  width: 50%;
  text-shadow: none;
}

div.container_24 div.grid_24 footer {
  height: 50px;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  background-color: #297F10;
}

div.container_24 div.grid_24 footer ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
  height: 50px;
  width: 80%;
  margin: auto;
  background-color: #297F10;
}

div.container_24 div.grid_24 footer ul li {
  float: left;
  height: 50px;
  width: 12%;
  line-height: 50px;
  margin: 0;
}

div.container_24 div.grid_24 footer ul li:hover {
  background-color: #ccffbb;
  color: #ffffff;
}

div.container_24 div.grid_24 footer ul li a {
  color: #ccffbb;
  background-color: #297F10;
  display: block;
  font-size: 1em;
  text-shadow: 1px 2px 1px #165404;
}

div.container_24 div.grid_24 footer ul li a:hover {
  color: #297F10;
  background-color: #ccffbb;
  text-decoration: none;
  text-shadow: 1px 2px 1px #ccffbb;
}

div.container_24 p.copyr {
  color: #000;
  font-size: 0.6em;
  width: 100%;
  letter-spacing: 0.1em;
  margin: 1em auto;
}

div.container_24 button#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #3ea514;
  /* Set a background color */
  color: #ffffff;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

div.container_24 button#myBtn:hover {
  background-color: #2c6700;
  /* Add a dark-grey background on hover */
}
/*# sourceMappingURL=ie.css.map */