

$colorblk:#000; //black
$bgcolor:#92cd00; //green
$headbg:#297F10;
$colornav:#297F10;
$colortxtbg:#ccffbb; //lime-green
$colortxt:#3a5f0b; //dark-green
$colorsocmed:#ccffbb; //green
$colorsocmedhov:#ffffff;
$colorslidebg:#82b602;
$colorsildertxt:#e6fbb3;
$colorsildertxtbg:#2c6700;
$honecolor:#348C0F;
$contentbg:#3ea514;
$header-shadow:#165404;
$contenttxtbg:#3ea514;

$formboxbg :#136899;

$fontList: 'viro-webfont', Candara , Arial,  sans-serif;
